<div id="create-wallet">
  <div class="back" v-if="$route.query.from">
    <a href @click.prevent="$route.query.from === 'restore' ? $router.push({name: 'ask-restore-backup'}) : $router.push({name: 'new-wallet-method'})">< Back</a>
  </div>

  <div class="header-logo">
    <img src="assets/img/logo_lg.png" />
    <!--<h3>Cyb Extension</h3>-->
  </div>

  <div class="seed-container">
    <h4>This is your new seed phrase. Please store it in password manager like 1Password</h4>

    <div class="seed-phrase card" @click="copyToClipboard()">
      {{seedPhrase}}
    </div>

    <md-checkbox v-model="savedConfirm">I swear, I made the backup of my seed phrase</md-checkbox>
  </div>

  <div class="password-container">
    <h4>Your seed phrase will be encrypted by this password.</h4>

    <div>
      <label>Enter password (min 8 chars)</label>
      <input v-model="password" type="password" />
    </div>

    <div>
      <label>Repeat password</label>
      <input v-model="confirmPassword" type="password" />
    </div>
  </div>

  <div class="button-container">
    <button @click="save" :disabled="saveDisabled">Save</button>
  </div>
</div>
