<div id="import-account" class="padding-container">
  <h2>Search Content</h2>

  <div v-if="loading" class="loading-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div v-else>
    <div v-for="item in searchResults" style="margin-top: 15px;">
      <a :href="'https://cloudflare-ipfs.com/ipfs/' + item.cid" target="_blank"><pretty-hash :hash="item.cid"></pretty-hash></a>
      <span style="margin-left: 5px;">({{item.rank}})</span>
    </div>
  </div>
</div>
