<div class="input-absolute-container account-select-container" ref="container" xmlns:v-on="http://www.w3.org/1999/xhtml" :style="{'top': top}">
  <div class="content" v-if="showContainer && currentAccount">
    <h3>Accounts</h3>

    <div class="accounts-list">
      <div v-for="(accountGroup, index) in accountGroupsList" :class="{'active': accountGroup.id === currentAccount.id}">
        <a href @click.prevent="selectAccountGroupById(accountGroup.id)">{{accountGroup.title}}</a>
      </div>
    </div>

    <div class="add-new-account">
      <div style="margin: 15px 0;">
        <a href @click.prevent="addAccount()"><md-icon class="fas fa-plus"></md-icon> Add account</a>
      </div>
      <div>
        <router-link tag="button" :to="{name: 'cabinet-cyberd-import'}">Import account</router-link>
      </div>
    </div>
  </div>
  <div class="background" v-if="showContainer"></div>
</div>
