<div class="input-absolute-container account-select-container" ref="container" xmlns:v-on="http://www.w3.org/1999/xhtml" :style="{'top': top}">
  <div class="content" v-if="showContainer">
    <h3>Accounts</h3>

    <div class="accounts-list">
      <div v-for="(account, index) in accountListDisplay" :class="{'active': account.address === currentAccount.address}">
        <a href @click.prevent="selectAccountByIndex(index)">{{account.prettyAddress}}</a>
      </div>
    </div>

    <div class="add-new-account">
      <router-link tag="button" :to="{name: 'cabinet-cyberd-import'}">Import account</router-link>
    </div>
  </div>
  <div class="background" v-if="showContainer"></div>
</div>
