<div id="create-wallet">
  <div class="header-logo">
    <img src="assets/img/logo_lg.png" />
    <!--<h3>Cyb Extension</h3>-->
  </div>

  <div class="seed-container" style="margin-top: 25px;">
    <div>
      <label>Enter your seed phrase</label>
      <textarea v-model="seedPhrase"></textarea>
    </div>
  </div>

  <div class="password-container">
    <h4>Your seed phrase will be encrypted by this password.</h4>

    <div>
      <label>Enter password (min 8 chars)</label>
      <input v-model="password" type="password" />
    </div>

    <div>
      <label>Repeat password</label>
      <input v-model="confirmPassword" type="password" />
    </div>
  </div>

  <div class="button-container">
    <button @click="save" :disabled="saveDisabled">Save</button>
  </div>
</div>
