<div style="text-align: center;">
  <!--<p>CyberD</p>-->

  <h3 v-if="currentAccount"><pretty-hex :hex="currentAccount.address"></pretty-hex></h3>
  <h3>Balance:</h3>
  <h2>
    {{balanceStr}} GCYB
    <md-button class="md-icon-button small-button" @click="getBalance"><md-icon class="fas fa-sync"></md-icon></md-button>
  </h2>
  <div v-if="bandwidth">
    <h3>Bandwidth:</h3>
    <h2>
      {{bandwidth.remained}} / {{bandwidth.maxValue}}
    </h2>
  </div>

  <router-link :to="{name: 'cabinet-cyberd-save-and-link', query: {linkKeywords: true, from: 'cabinet-cyberd'}}" tag="button">Link</router-link>
  <router-link :to="{name: 'cabinet-cyberd-transfer', query: {from: 'cabinet-cyberd'}}" tag="button">Send CYB</router-link>

  <div style="margin-top: 40px;">
    <button style="padding: 30px;" @click="downloadPage" :disabled="peersError || peersLoading">Download page to IPFS</button>
  </div>
  <div v-if="peersError">IPFS node unavailable. Please check settings or your node availability.</div>
  <div style="margin-top: 10px;" v-else>IPFS peers: {{peersCount }}</div>
</div>
